In [2]:
## Import libraries
import pandas as pd
import json
import numpy as np

In [3]:
## Load file
url="https://gist.githubusercontent.com/bobbae/b4eec5b5cb0263e7e3e63a6806d045f2/raw/279b794a834a62dc108fc843a72c94c49361b501/data.csv"
df=pd.read_csv(url, sep=",")

In [4]:
## Count rows
df.shape[0]

25500

In [5]:
## Inspect
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [6]:
## Data types of columns
df.dtypes

Year                       int64
Rank                       int64
Company                   object
Revenue (in millions)    float64
Profit (in millions)      object
dtype: object

In [7]:
## Try converting 'Profit' to float
pd.to_numeric(df['Profit (in millions)'])

ValueError: Unable to parse string "N.A." at position 228

In [8]:
## From docs, add errors parameter: "if ‘coerce’, then invalid parsing will be set as NaN"
df['Profit (in millions)'] = pd.to_numeric(df['Profit (in millions)'], errors='coerce')

In [9]:
## Check conversion to float
df.dtypes

Year                       int64
Rank                       int64
Company                   object
Revenue (in millions)    float64
Profit (in millions)     float64
dtype: object

In [10]:
## Sanity check
df['Profit (in millions)'].describe()

count    25131.000000
mean       207.903677
std       1173.695947
min     -98696.000000
25%          8.900000
50%         35.500000
75%        150.500000
max      25330.000000
Name: Profit (in millions), dtype: float64

In [11]:
## Determine number of rows with valid profit values
df.shape[0] - df['Profit (in millions)'].isnull().sum()

25131

In [12]:
## Slice dataframe to only include rows with valid profit values
df[~df['Profit (in millions)'].isnull()]

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806.0
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
5,1955,6,Chrysler,2071.6,18.5
6,1955,7,Armour,2056.1,1.6
7,1955,8,Gulf Oil,1705.3,182.8
8,1955,9,Mobil,1703.6,183.8
9,1955,10,DuPont,1687.7,344.4
10,1955,11,Amoco,1667.4,132.8
11,1955,12,Bethlehem Steel,1660.3,117.2
12,1955,13,CBS,1631.0,84.6
13,1955,14,Texaco,1574.4,226.1
14,1955,15,AT&T Technologies,1526.2,55.8
15,1955,16,Shell Oil,1312.1,121.1
16,1955,17,Kraft,1210.3,37.4
17,1955,18,ChevronTexaco,1113.3,211.9
18,1955,19,Goodyear Tire & Rubber,1090.1,48.1
19,1955,20,Boeing,1033.2,37.0
20,1955,21,Sinclair Oil,1021.5,91.6
21,1955,22,Navistar International,994.1,36.3
22,1955,23,RCA,941.0,40.5
23,1955,24,Union Carbide,923.7,89.8
24,1955,25,Firestone Tire & Rubber,916.0,40.5
25,1955,26,Douglas Aircraft,915.2,36.2
26,1955,27,Procter & Gamble,911.0,52.3
27,1955,28,Republic Steel,846.3,52.9
28,1955,29,Citgo Petroleum,813.2,43.7
29,1955,30,ConocoPhillips,794.6,76.2
...,...,...,...,...,...
25469,2005,470,Cooper Tire & Rubber,3933.6,201.4
25470,2005,471,Wisconsin Energy,3912.1,306.4
25471,2005,472,American Financial Grp.,3911.7,359.9
25472,2005,473,Beazer Homes USA,3907.1,235.8
25473,2005,474,Collins & Aikman,3904.0,-118.5
25474,2005,475,Borders Group,3903.0,131.9
25475,2005,476,Nash Finch,3897.1,14.9
25476,2005,477,Toll Brothers,3893.1,409.1
25477,2005,478,SCANA,3885.0,257.0
25478,2005,479,Whole Foods Market,3864.9,137.1
25479,2005,480,Corning,3854.0,-2165.0
25480,2005,481,Sealed Air,3798.1,215.6
25481,2005,482,Maxtor,3796.3,-181.9
25482,2005,483,Reebok International,3785.3,192.4
25483,2005,484,UGI,3784.7,111.6
25484,2005,485,Guidant,3775.2,524.0
25486,2005,487,Advance Auto Parts,3770.3,188.0
25487,2005,488,ServiceMaster,3759.6,331.2
25488,2005,489,Wesco International,3741.3,64.9
25489,2005,490,Telephone & Data Sys.,3720.4,49.0
25490,2005,491,Level 3 Communications,3712.0,-458.0
25491,2005,492,Brinker International,3707.5,154.0
25492,2005,493,Stater Bros. Holdings,3704.9,71.8
25493,2005,494,Western & Southern Financial,3694.5,328.0
25494,2005,495,Gateway,3649.7,-567.6
25495,2005,496,Wm. Wrigley Jr.,3648.6,493.0
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584.0

In [13]:
## Valid profits rows to json file
df[~df['Profit (in millions)'].isnull()].to_json("data2.json", orient='records')

In [14]:
df = df[~df['Profit (in millions)'].isnull()]

In [15]:
## Print valid rows, order descending, top 20
df.sort_values(by=['Profit (in millions)'], ascending=False).head(20)

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
25001,2005,2,Exxon Mobil,270772.0,25330.0
22001,1999,2,Ford Motor,144416.0,22071.0
24501,2004,2,Exxon Mobil,213199.0,21510.0
24507,2004,8,Citigroup,94713.0,17853.0
23000,2001,1,Exxon Mobil,210392.0,17720.0
25007,2005,8,Citigroup,108276.0,17046.0
25004,2005,5,General Electric,152363.0,16593.0
23501,2002,2,Exxon Mobil,191581.0,15320.0
24005,2003,6,Citigroup,100789.0,15276.0
24504,2004,5,General Electric,134187.0,15002.0
25017,2005,18,Bank of America Corp.,63324.0,14143.0
23506,2002,7,Citigroup,112022.0,14126.0
24004,2003,5,General Electric,131698.0,14118.0
23505,2002,6,General Electric,125913.0,13684.0
23005,2001,6,Citigroup,111826.0,13519.0
25005,2005,6,ChevronTexaco,147967.0,13328.0
23004,2001,5,General Electric,129853.0,12735.0
23009,2001,10,Verizon Communications,64707.0,11797.0
24002,2003,3,Exxon Mobil,182466.0,11460.0
25023,2005,24,Pfizer,52921.0,11361.0